@{
    ViewBag.Title = "QuanLyGioHang";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

@section ThemThuVienCss{
    <link rel="stylesheet" href="/Content/css/index.css">
    <link rel="stylesheet" href="/Content/css/dataTables.bootstrap4.min.css">
}
@section ThemThuVienJs{
    <script src="/Content/js/jquery.dataTables.js"></script>
    <script src="/Content/js/dataTables.bootstrap4.js"></script>

    <!-- Page level custom scripts -->
    <script src="/Content/js/datatables-demo.js"></script>
}

@using doanweb.Models;
@model List<tbl_giohang>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Quản Lý Đơn Hàng</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <a class="btn btn-success ml-auto" href="@Url.Action("QuanLyGioHang_DonHangThanhCong","Admin_QLGH")"><i class="fas"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z" /><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" fill="#ffff" /></svg></i>  Danh Sách Đơn Hàng Thành Công</a>
                <a class="btn btn-danger ml-auto" href="@Url.Action("QuanLyGioHang_DonHangThatBai","Admin_QLGH")"><i class="fas "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="#ffff" /><path d="M0 0h24v24H0z" fill="none" /></svg></i>  Danh Sách Đơn Hàng Thất Bại</a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên Người Mua</th>
                            <th>Ảnh Sản Phẩm</th>
                            <th>Số Lượng Sản Phẩm Mua</th>
                            <th>Ngày Thanh Toán</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên Người Mua</th>
                            <th>Ảnh Sản Phẩm</th>
                            <th>Số Lượng Sản Phẩm Mua</th>
                            <th>Ngày Thanh Toán</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenKhachHang</td>
                                <td>
                                    <img src="@Url.Content("~/Content/images/sanpham/"+@item.AnhSanPham)" class="img-thumbnail" style="width:80px;height:80px;" alt="@item.TenSanPham">
                                </td>
                                <td>@item.SoLuongSanPham</td>
                                @if (item.NgayNhap != null)
                                {
                                    <td>@item.NgayNhap.ToString().Substring(0, 10)</td>
                                }
                                else
                                {
                                    <td>@item.NgayNhap</td>
                                }
                                
                                <td>
                                    <a href="@Url.Action("QuanLyGioHang_Sua", "Admin_QLGH", new { @MaSua = item.Id })" class="icon_tacvu">
                                        <i class="fas"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z" /><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" fill="#1cc88a" /></svg></i>
                                    </a>
                                    <a href="@Url.Action("QuanLyGioHang_Xoa", "Admin_QLGH", new { @MaXoa = item.Id })" class="icon_tacvu_xoa" style="color: red;">
                                        <i class="fas "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" fill="#1cc88a" /><path d="M0 0h24v24H0z" fill="none" /></svg></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
